body {
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login {
  width: 70%;
  border: 1px solid #cccbc8;
  padding: 2.5%;
  box-shadow: 1px 2px #cccbc8;
}

#button{
  display: flex;
  justify-content: center;
}
.CampoDeTexto input {
  width: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
  border: 0 0 0.5px 0;
  border-bottom-color: #cccbc8;
  border-top: none;
  border-left: none;
  border-right: none;
}


::placeholder{
  color:#cccbc8;
  opacity: 1;
}

input:invalid {
  border: 0 0 0.5px 0;
  border-bottom-color:red;
}

input:valid {
  border: 0 0 0.5px 0;
  border-bottom-color:green;
}

input:focus {
border: 0 0 0.5px 0;
border-top: none;
border-left: none;
border-right: none;
border-bottom-color:blue;
outline: none;
}


.logo {
  width: 10%;
  border-radius: 50%;
  margin-left: 45%;
}

.ForgotPass {
  color: #cccbc8;
  font-size: 13px;
  float: right;
}


.TextoExplicativo {
  font-size: 14px;
  color: #696969;
}

.Texto {
  color: #cccbc8;
  font-size: 13px;
}

.link {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
