@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linked {
  display: flex;
  justify-content: center;
  align-items: center;
}

.enlace {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 3px solid white;
  padding: 5px 50px 5px 50px;
}

#login {
  width: 70%;
  border: 1px solid #cccbc8;
  padding: 2.5%;
  box-shadow: 1px 2px #cccbc8;
}

#button{
  display: flex;
  justify-content: center;
  height: 100%;
  background: none;
  border: none;
  color: white;
  font-weight: bold;
}
.CampoDeTexto input {
  width: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
  border: 0 0 0.5px 0;
  /*border-bottom-color: #cccbc8;*/
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.CampoDeTexto .tag {
  background: lightblue;
  color: black;
}


::placeholder{
  color:#cccbc8;
  opacity: 1;
}
/*
input:invalid {
  border: 0 0 0.5px 0;
  border-bottom-color:red;
}
*/

input:valid {
  border: 0 0 0.5px 0;
  border-bottom-color:blue;
}

input:focus {
border: 0 0 0.5px 0;
border-top: none;
border-left: none;
border-right: none;
/*border-bottom-color:blue;*/
outline: none;
}


@keyframes expandir {
  from {
    position: relative;
    margin-left: 50%;
    width: 0%;
  }
  to {
    position: relative;
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes contraer {
  from {
    position: relative;
    margin-left: 0%;
    width: 100%;
    visibility: visible;
  }
  to {
    position: relative;
    margin-left: 50%;
    width: 0%;
    visibility: visible;
  }
}

#LineaInferior_onFocus {
  display: block;
  background: blue;
  width: 100%;
  height: 2px;
  margin-top: -2px;
  animation-duration: 3s;
  animation-name: expandir;
}

#LineaInferior_onBlur {
  display: block;
  background: blue;
  width: 100%;
  height: 2px;
  margin-top: -2px;
  animation-duration: 3s;
  animation-name: contraer;
  visibility: hidden;
}

#Linea_base {
  display: block;
  background: #cccbc8;
  width: 100%;
  height: 2px;
}
/*input:invalid {
  border: 0 0 0.5px 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: red;
  outline: none;

}*/
#Linea_oculta{
  display: block;
  background: #cccbc8;
  width: 100%;
  height: 2px;
  margin-top: -2px;
  visibility: hidden;
}

.logo {
  width: 10%;
  border-radius: 50%;
  margin-left: 45%;
}

.ForgotPass {
  color: #cccbc8;
  font-size: 13px;
  float: right;
}


.TextoExplicativo {
  font-size: 14px;
  color: #696969;
}

.Texto {
  color: #cccbc8;
  font-size: 13px;
}

.link {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.home {
  width: 100%;
  height: 100%;
  background-image: url("imagenes/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position:40%;
  background-size:cover;
}
.lista {
  display: flex;
  justify-content: center;
  text-align: center;
}
.elementos {
  display: inline;
  text-align: center;
  margin: 0 10px 0 0;
  width: 30%;
}
.refs {
  text-decoration: none;
  color: white;

}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: black;
  width: 100%;
}
.logopag {
  display: flex;
  justify-content: center;
}
.divaux {
  height: 200px;
}
.centrar {
  display:flex;
  justify-content: center;
}
.titulo
{
  font-size: 350%;
  font-weight: bold;
  display:flex;
  justify-content: center;
  text-align: center;
  color: white;
}

.seccion2 {
  background: black;
  height: 500px;
}

#acerca {
  text-align: center;
}
#acerca h1 {
  font-weight: bold;
  margin:0px;
  padding-top: 100px;
  font-size: 30px;
  color:white;
}
#acerca p {
  width: 80%;
  margin-left: 10%;
  font-family: "montserrat-regular", sans-serif;
  font-size:20px;
  color: #B3B6B7;
}
.seccion3 {
  background-image: url("imagenes/background2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position:40%;
  background-size:cover;
  width: 100%;
  height: 100%;
}

#beneficios{
  text-align: center;
}

#beneficios h1{
  font-weight: bold;
  margin: 0px;
  padding-top: 100px;
  font-size: 30px;
  color:white;
}
.beneficio{
  display: flex;
  justify-content: center;
}
.bloque {
  width: 20%;
}
.icon{
  font-size: 50px;
  color:orange;
}
.text{
  color:white;
  height: 50%;
}
.seccion4 {
  background-image: url("imagenes/background3.jpg");
  background-repeat: no-repeat;
  background-position:40%;
  background-size:cover;
  width: 100%;
  height: 100%;
}

#contacto h1{
  font-weight: bold;
  margin: 0px;
  padding-top: 100px;
  font-size: 30px;
  color:white;
  text-align: center;
  margin-bottom: 20px;
}
.contact{
  color:white;
  display: flex;
  align-items: center;

}
#contacto h3{
  color:#FAFAFA;
  margin:0px;

}

/*.neon {
	font-size: 20px;
	letter-spacing:-2px;
	color: #fff;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 25px #ff00de;
	-webkit-text-fill-color: #F4ECFF;
	-webkit-text-stroke-color:#C546F7;
	-webkit-text-stroke-width:0.2px;
}

.neonshadow (@sh2: #FF00DE, @sh1: #FFFFFF){
    color: @sh1;
    text-shadow:
    0 0 5px @sh1,
    0 0 10px @sh1,
    0 0 20px @sh1,
    0 0 40px @sh2,
    0 0 80px @sh2,
    0 0 90px @sh2,
    0 0 100px @sh2,
    0 0 150px @sh2;
}
.green{
  .neonshadow (#0F0);
}*/
.barraIzquierda{
  width: 25%;
  background-image: url("imagenes/barralateral.jpg");
  background-size: auto;
  height: 100%;
  margin:0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}

.application{
  width: 100%;
  height: 100%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
}
/*
.botonapp{
  border: none;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24),0 1px 5px 0 rgba(0,0,0,0.22),0 3px 1px -2px rgba(0,0,0,0.5);
  color: rgba(7, 252, 48, 0.68);
}

.botonapp:hover { //botonapActivo
  opacity: 0.6;
  border:  0.5px solid green;
  //color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 50px rgba(83, 239, 35, 0.68);
  //box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24),0 1px 5px 0 rgba(0,0,0,0.22),0 3px 1px -2px rgba(0,0,0,0.5);
}
*/
/*
.botonapp .botonappActive {
  opacity: 0.6;
  border:  0.5px solid green;
  //color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 50px rgba(83, 239, 35, 0.68);
  //box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24),0 1px 5px 0 rgba(0,0,0,0.22),0 3px 1px -2px rgba(0,0,0,0.5);
}
*/

#buttonCont {
  width: 100px;
  height: 100px;
  border-bottom: 2px solid #eee;

  background-image: -webkit-linear-gradient(top, #999, #d0d0d0 80% );
  background-image: -moz-linear-gradient(top, #999, #d0d0d0 80% );
  background-image: -ms-linear-gradient(top, #999, #d0d0d0 80% );
  background-image: -o-linear-gradient(top, #999, #d0d0d0 80% );
  background-image: linear-gradient(top, #999, #d0d0d0 80% );

  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;

  box-shadow: inset rgba(0,0,0,0.2) 0px 5px 6px ;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  margin-left: 10%;
  margin-top: 10%;
}

.botonapp {
  border: none;
  width: 90px;
  height: 90px;
  left: 5px;
  top: 5px;
  cursor: pointer;
  font-family: "Lucida Sans";
  font-weight: bold;
  font-size: 23px;
  color: #888;
  text-shadow: 0px 1px 0px #fff;
  text-align: center;

  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
//  border-radius: 100px;

  background-image: -webkit-linear-gradient(top, #eee, #bbb 70%, #9f9f9f 100% );
  background-image: -moz-linear-gradient(top, #eee, #bbb 70%, #9f9f9f 100% );
  background-image: -ms-linear-gradient(top, #eee, #bbb 70%, #9f9f9f 100% );
  background-image: -o-linear-gradient(top, #eee, #bbb 70%, #9f9f9f 100% );
  background-image: linear-gradient(top, #eee, #bbb 70%, #9f9f9f 100% );

  background-position: 0 6px;
  background-color: #eee;
  background-repeat: no-repeat;

  -webkit-box-shadow: rgba(0,0,0,.4) 0 3px 6px;
  -moz-box-shadow: rgba(0,0,0,.4) 0 3px 6px;
  box-shadow: rgba(0,0,0,.4) 0 3px 6px;
  outline:0px;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -ms-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;
}


.botonapp.botonActive {
  left: 10px;
  top: 10px;
  width: 80px;
  height: 80px;
  background-position: 0 0px;
  color: #62D240;
  -webkit-box-shadow: rgba(0,0,0,.4) 0 3px 8px;
  -moz-box-shadow: rgba(0,0,0,.4) 0 3px 8px;
  //box-shadow: rgba(0,0,0,.4) 0 3px 8px;
  outline:0px;
  box-shadow: 0 5px 50px rgba(83, 239, 35, 0.68);
}

.botonapp.botonActive:hover {
  box-shadow: 0 5px 50px rgba(83, 239, 35, 0.68);
}


.botonapp:hover {
  background-position: 0 0px;

  -webkit-box-shadow: rgba(0,0,0,.4) 0 3px 8px;
  -moz-box-shadow: rgba(0,0,0,.4) 0 3px 8px;
  box-shadow: rgba(0,0,0,.4) 0 3px 8px;
  outline:0px;
  box-shadow: 0 5px 50px rgba(133, 145, 129, 0.68);
}

.botonapp:active {
  outline:0px;
  left: 10px;
  top: 10px;
  width: 80px;
  height: 80px;
  background-position: 0 0px;
  color: #62D240;
  -webkit-box-shadow: rgba(0,0,0,.4) 0 3px 8px;
  -moz-box-shadow: rgba(0,0,0,.4) 0 3px 8px;
  //box-shadow: rgba(0,0,0,.4) 0 3px 8px;

  box-shadow: 0 5px 50px rgba(83, 239, 35, 0.68);
}


/*.barraSuperior{
  background-color: grey;
  width: 75%;
  height: 80px;
    color: #62D240;
}
*/

.barraSuperior{
  background-image: url("imagenes/back3.png");
  background-size: cover;
  background-position: 0 50%;
  width: 75%;
  height: 8%;
  display: flex;
  align-items:center;
  justify-content: flex-end;
}

.InfoMediciones{
  background-color:#A4A4A4;
  height: 92%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.logo2{
  border-radius: 50%;
  width: 50%;
}
.barraIzquierda hr{
  width: 90%;
}
.mainbar{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
}
.element{
  color: white;
}

.CuadroInfo {
  width: 40%;
  height: 20%;
  background: rgba(200, 209, 242, 0.36);
  border-radius: 20px;
  box-shadow: 0 5px 50px rgba(76, 81, 101, 0.36);
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.BloqueSup{
  box-sizing: border-box;
  box-shadow:
    inset 0 0 0 0.5px black;
    border-radius: 20px 20px 0 0 ;

  width: 100%;
  height: 35%;
}
.BloqueInf{
  box-sizing: border-box;
  box-shadow:
    inset 0 0 0 0.5px black;
    border-radius: 0 0 0 20px ;

  width: 50%;
  height: 65%;
}

.BloqueInf2{
  box-sizing: border-box;
  box-shadow:
    inset 0 0 0 0.5px black;
    border-radius: 0 0 20px 0;

  width: 50%;
  height: 65%;
}

.CuadroDispositivo{
  width: 40%;
  height: 20%;
  //background-image: url("imagenes/Back1.jpg");
  background-color: white;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
  box-shadow: 0 5px 50px rgba(76, 81, 101, 0.36);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.CuadroDispositivo2{
    box-shadow: 0 5px 50px rgba(76, 81, 101, 0.36);
    width: 450px;
    height: 180px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 30px;
    border-radius: 50px;
}

.ListadoDispositivos{
  height: 92%;
  width: 75%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.imagedispositivo{
  width:30%;
  height:100%;
}

.infodisp{
  width: 70%;
  height: 100%;
}
.statedisp{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.circlestate {
  margin-top: 10px;
  margin-left: 5px;
}

div .Nombredisp{
  margin-top: 10%;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.8;
  color: #8E8989;
  text-transform: uppercase;
  font-family:Lucida Console;
  //text-shadow: 4px 4px 5px #16a085;
  text-shadow: 1px 1px 1px #eee, 2px 2px 6px #999;
}

.BarraMenu{
    background-color: #D4DFF6;
    width: 100%;
    height: 8%;
    display: flex;
    align-items:center;
    padding-right: 50px;
    justify-content: flex-end;
}

.buttonadd {
  outline:0px;
  margin: none;
}

#btnTools{
  outline:0px;
}


.CuadroCrearDisp{
  box-shadow: 0 5px 50px rgba(76, 81, 101, 0.36);
  margin-top: 15%;
  margin-left: 100px;
  margin-right: 100px;
  width: 50%;
  color: rgb(107, 108, 116);
  font-size: 100%;
/*
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #FF0000;
    margin-top: 20px;

     animation:signup-response 0.5s 1;
    -webkit-animation:signup-response 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay:2s;
    -webkit-animation-delay:1s;
    -webkit-animation-fill-mode: forwards;*/

}

.labeldisp{
  width: 50%;
  margin: 20px;
  justify-content: center;
  width: 100%;
}

.titulodisp{
  font-size: 150%;
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.inputdisp{
  width: 100%;
}
.buttonagreg {
  outline:0px;
  margin-top: 10px;
}


.formcontainer {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 25%;
    margin-top: 10%;
    padding: 10px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.65);
    transition: all linear 0.5s;
    display: none;
    z-index: -1;
    color:white;
    width: 75%;
}

.show {
    z-index: 5 !important;
    animation: anim-fade-in linear 0.3s 1;
}

.active {
    display: block !important;
}
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: all linear 0.2s;
}
.close:hover {
    text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}
